.root {
  width: 100%;
}

.title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
}

.text {
  opacity: 75%;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 300;
}

.inputs_holder {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons_holder {
  margin-top: 68px;
  display: flex;
  gap: 50px;
}
